*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    color: $black;
    margin: 0;
    background-color: #f8f8f8;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: $black;
}
