.btn{
    background-color: $white;
    color: $black;
    height: 30px;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 15px;

    &--height-40{
        height: 40px;
    }

    &--purple{
         background-color: $purple;
         color: $white;
    }

    &--search{
        width: 100%;
        border-radius: 0 4px 4px 0;

        @mixin atSmall{
            width: 85%;
            border-radius: 4px;
        }
    }

    &--purple:hover{
         background-color: $white;
         color: $black;
         border: 1px solid #8b86f4;
    }

    &--right{
        float: right;
    }

    &--radius{
        border-radius: 5px;
    }

    &--shadow{
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 10px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    }

    &--common{
        width: 100%;
        line-height: 8px;
        font-size: 0.8rem;
    }

    &--uppercase{
        text-transform: uppercase;
    }
}
