.page-content{
    position: relative;
    width: 100%;

    @mixin atMedium{
        width: 800px;
        margin: 0 auto;
    }

    &--pull-up{
        position: relative;
        top: -26px;
    }
}