.row{
    @mixin clearfix;

    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    &__no-gutters{
        margin-right: 0;
        margin-left: 0;
    }

    &__col-1{
         flex: 0 0 8.333333%;
         max-width: 8.333333%;
    }

    &__col-2{
         flex: 0 0 16.666667%;
         max-width: 16.666667%;
    }

    &__col-3{
         flex: 0 0 25%;
         max-width: 25%;
    }

    &__col-4{
         flex: 0 0 33.333333%;
         max-width: 33.333333%;
    }

    &__col-5{
         flex: 0 0 41.666667%;
         max-width: 41.666667%;
    }

    &__col-6{
         flex: 0 0 50%;
         max-width: 50%;
    }

    &__col-7{
         flex: 0 0 58.333333%;
         max-width: 58.333333%;
    }

    &__col-8{
         flex: 0 0 66.666667%;
         max-width: 66.666667%;
    }

    &__col-9{
         flex: 0 0 75%;
         max-width: 75%;
    }

    &__col-10{
         flex: 0 0 83.333333%;
         max-width: 83.333333%;
    }

    &__col-11{
         flex: 0 0 91.666667%;
         max-width: 91.666667%;
    }

    &__col-12{
         flex: 0 0 100%;
         max-width: 100%;
    }

    @mixin atSmall{
        &__col-sm-1{
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }

        &__col-sm-2{
             flex: 0 0 16.666667%;
             max-width: 16.666667%;
        }

        &__col-sm-3{
             flex: 0 0 25%;
             max-width: 25%;
        }

        &__col-sm-4{
             flex: 0 0 33.333333%;
             max-width: 33.333333%;
        }

        &__col-sm-5{
             flex: 0 0 41.666667%;
             max-width: 41.666667%;
        }

        &__col-sm-6{
             flex: 0 0 50%;
             max-width: 50%;
        }

        &__col-sm-7{
             flex: 0 0 58.333333%;
             max-width: 58.333333%;
        }

        &__col-sm-8{
             flex: 0 0 66.666667%;
             max-width: 66.666667%;
        }

        &__col-sm-9{
             flex: 0 0 75%;
             max-width: 75%;
        }

        &__col-sm-10{
             flex: 0 0 83.333333%;
             max-width: 83.333333%;
        }

        &__col-sm-11{
             flex: 0 0 91.666667%;
             max-width: 91.666667%;
        }

        &__col-sm-12{
             flex: 0 0 100%;
             max-width: 100%;
        }
    }

    @mixin atMedium{
        &__col-md-1{
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }

        &__col-md-2{
             flex: 0 0 16.666667%;
             max-width: 16.666667%;
        }

        &__col-md-3{
             flex: 0 0 25%;
             max-width: 25%;
        }

        &__col-md-4{
             flex: 0 0 33.333333%;
             max-width: 33.333333%;
        }

        &__col-md-5{
             flex: 0 0 41.666667%;
             max-width: 41.666667%;
        }

        &__col-md-6{
             flex: 0 0 50%;
             max-width: 50%;
        }

        &__col-md-7{
             flex: 0 0 58.333333%;
             max-width: 58.333333%;
        }

        &__col-md-8{
             flex: 0 0 66.666667%;
             max-width: 66.666667%;
        }

        &__col-md-9{
             flex: 0 0 75%;
             max-width: 75%;
        }

        &__col-md-10{
             flex: 0 0 83.333333%;
             max-width: 83.333333%;
        }

        &__col-md-11{
             flex: 0 0 91.666667%;
             max-width: 91.666667%;
        }

        &__col-md-12{
             flex: 0 0 100%;
             max-width: 100%;
        }
    }

    @mixin atLarge{
        &__col-lg-1{
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }

        &__col-lg-2{
             flex: 0 0 16.666667%;
             max-width: 16.666667%;
        }

        &__col-lg-3{
             flex: 0 0 25%;
             max-width: 25%;
        }

        &__col-lg-4{
             flex: 0 0 33.333333%;
             max-width: 33.333333%;
        }

        &__col-lg-5{
             flex: 0 0 41.666667%;
             max-width: 41.666667%;
        }

        &__col-lg-6{
             flex: 0 0 50%;
             max-width: 50%;
        }

        &__col-lg-7{
             flex: 0 0 58.333333%;
             max-width: 58.333333%;
        }

        &__col-lg-8{
             flex: 0 0 66.666667%;
             max-width: 66.666667%;
        }

        &__col-lg-9{
             flex: 0 0 75%;
             max-width: 75%;
        }

        &__col-lg-10{
             flex: 0 0 83.333333%;
             max-width: 83.333333%;
        }

        &__col-lg-11{
             flex: 0 0 91.666667%;
             max-width: 91.666667%;
        }

        &__col-lg-12{
             flex: 0 0 100%;
             max-width: 100%;
        }
    }
}
