.site-header{
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    &__logo{
        float: left;
        padding: 6px 0;

        @mixin atMedium{
            margin-right: 5%;
        }

        &__graphic{
            font-size: 1.6rem;
            color: $white;
        }
    }

    &__menu-content{
        
    }
}
