.tabs{
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 10px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    background-color: $white;

    &--no-padding-left{
        padding-left: 0;
    }

    a{
        display: block;
        padding: 20px;
        text-align: center;

        i{
            font-size: 20px;
        }
    }

    a.active{
        transition: all .3s ease-out;
        border-bottom: 2px solid $purple;
    }

    a.active i{
        transition: all .3s ease-out;
        transform: scale(1.4);
    }
}

.tab-content{
    display: none;
    transition: all 0.3s ease-out;

    &.active{
        display: block;
        padding: 18px;
        transition: all 0.3s ease-out;
    }
}
