.tabs{
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0 2px 10px 0, rgba(0, 0, 0, 0.12) 0 2px 4px 0;
    background-color: $white;

    @mixin atSmall{
        margin: 0 10px 10px;
    }

    &--no-padding-left{
        padding-left: 0;
    }

    a{
        display: block;
        padding: 10px;
        cursor: pointer;
        border: 1px solid $white;
        text-align: center;

        img{
            width: 30px;
        }
    }

    a.active{
        transition: all .3s ease-out;
        border-bottom: 2px solid $purple;
    }

    a.active i{
        transition: all .3s ease-out;
        transform: scale(1.4);
    }

    &__under-text{
        font-size: 0.8rem;
    }
}
